body {
            background-color: #eeeeee;
        }

        .h7 {
            font-size: 0.8rem;
        }

        .gedf-wrapper {
            margin-top: 0.97rem;
        }

        @media (min-width: 992px) {
            .gedf-main {
                padding-left: 4rem;
                padding-right: 4rem;
            }
            .gedf-card {
                margin-bottom: 2.77rem;
            }
        }

        /**Reset Bootstrap*/
        .dropdown-toggle::after {
            content: none;
        }

body{
            background-color: #e9ebee;
        }
        .bg-fbook {
            background-color: #4267b2 !important;
            padding: .1rem 1rem;
        }
        .btn-fbook{
            color: #4a4a4a;
            background-color: #ffffff;
            border-color: transparent;
            font-weight: 700;
            transition: all .5s;
        }
        .btn-fbook:hover{
            background-color: #f0f0f0;
            border-color: transparent;
        }
        .btn-fposts{
            background-color: #f0f0f0;
            border-color: transparent;
            border-radius: 5rem;
            transition: all 0.5s;
        }
        .btn-fposts:hover{
            background-color: rgba(0,0,0,.05);
            border-color: transparent;
        }
        .h7{
            font-size: 0.87rem;
            font-weight: 600;
        }
        .h8{
            font-size: 0.78rem;
            font-weight: 600;
        }

        .offset-fixed{
            position: fixed;
            top: 0;
            bottom: 0;
        }
        .f-left{
            left: 0;
        }
        .f-right{
            right: 0;
        }
        .side-left{
            margin-top: 4rem;
            margin-left: 8.07rem
        }
        .side-right{
            margin-top: 4rem;
            overflow-x: hidden;
            overflow-y: auto;
            height: calc(100vh - 7.5rem);
        }
        .img-circle{
            width: 5rem;
            height: 3.1rem;
            background-color: #f7f7f7;
            border-radius: 50%;
            border: 1px solid #dddddd;
        }
        .state{
            width: 0.5rem;
            height: 0.5rem;
            background-color: green;
            border-radius: 50%
        }
        .friend-state{
            padding: 0.57rem 0.3rem;
            cursor: pointer;
            transition: all 0.1s;
        }
        .friend-state:hover{
            background-color: #f7f7f7;
        }

        
        @media (min-width: 1200px){
            .container {
                max-width: 1125px;
            }
            .c-navbar{
                margin-left: 7rem !important;
            }
        }
 body,html{
    
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background: #DEDEDE !important;
    }

    .searchbar{
      
    margin-bottom: auto;
    margin-top: auto;
    height: 60px;
    background-color: #353b48;
    border-radius: 30px;
    padding: 10px;
    }

    .search_input{
    color: white;
    border: 0;
    outline: 0;
    background: none;
    width: 0;
    caret-color:transparent;
    line-height: 40px;
    transition: width 0.4s linear;
    }

    .searchbar:hover > .search_input{
    padding: 0 10px;
    width: 450px;
    caret-color:red;
    transition: width 0.4s linear;
        
    }

    .searchbar:hover > .search_icon{
    background: white;
    color: #e74c3c;
        
    }

    .search_icon{
    height: 40px;
    width: 40px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color:white;
    text-decoration:none;
        
    }






    